/* Big screen :1200px. */
@media (min-width: 1201px) and (max-width: 1500px) {
    .rtl-slider .rtl-slider-slide {
        max-height: 530px;
    }
    
    .rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
        max-height: 530px;
    }

.product__Modal .rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
    max-height: 572px;
}
    .rtl-slider-flex .rtl-slider-nav{
        max-height: 530px;
    }
    .product__content.p__one.show {
        max-height: 530px;
    }
    
    .vaelg__btn a {
        height: 100px;
    }
    .alle-sofa-title {
        padding: 40px 0;
    }
    
    .alle-sofa-title h1 {
        font-size: 30px;
    }
    
    .alle-sofa-text h2 {
        font-size: 24px;
    }
    
    .alle-sofa-text p {
        font-size: 16px;
    }
    
    .alle-sofa-img {
        height: 500px;
    }
    
    .alle-sofa-img button {
        bottom: 50px;
        font-size: 24px;
    }
    
    .alle-sofa__blk h2 {
        font-size: 30px;
    }

    .sofa__btn {
        gap: 40px;
    }
    
    .sofa__btn button span {
        font-size: 12px;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .product__content {
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background: #fff;
    }

.product__Modal__side .product__content {
    margin-top: 0;
}

.product__content.p__three.show {}

.product__content.p__two.show ,
.product__content.p__three.show
{
    margin: 0;
    position: fixed;
    height: 100vh;
    overflow: auto;
    padding-bottom: 40px;
}
    .rtl-slider-flex .rtl-slider-nav {
        height: calc(100vh - 91px);
        overflow: hidden;
    }


    .rtl-slider .rtl-slider-slide {
        max-height: 530px;
    }
    
    .rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
        max-height: 530px;
    }

.product__Modal .rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
    max-height: 560px;
}
    .rtl-slider-flex .rtl-slider-nav{
        max-height: 530px;
    }
    .product__content.p__one.show {
    height: auto;
    }
    
    .vaelg__btn a {
        height: 100px;
    }
    .product__Modal .rtl-slider-flex .rtl-slider-nav .rtl-slider-slide{
    height: 108px;
}
.left-space{
    margin-left: 30px;
}
.alle-sofa-title {
    padding: 40px 0;
}

.alle-sofa-title h1 {
    font-size: 30px;
    letter-spacing: 8px;
}

.alle-sofa-text h2 {
    font-size: 24px;
}

.alle-sofa-text p {
    font-size: 16px;
}

.alle-sofa-img {
    height: 400px;
}

.alle-sofa-img button {
    bottom: 30px;
    font-size: 24px;
    width: 80%;
    font-size: 20px;
    border-width: 2px;
}

.alle-sofa__blk h2 {
    font-size: 26px;
}
.alle-sofa__blk p{
    letter-spacing: 2px;
    font-size: 14px;
}
.sofa__btn {
    gap: 28px;
    min-width: 1020px;
}

.sofa__btn button {
    font-size: 12px;
}

.sofa__btn__wrp {
    overflow: auto;
}
.mix_gellary .alle-sofa__blk {
    margin-top: 50px;
}


.sofModal-item > i {
    height: 180px !important;
}
.product__Modal__btn a {
    max-width: 100%;
    left: 0;
    box-shadow: 0px -3px 6px 0px #0001;
}
.product__Modal__side.show {
    position: sticky;
    right: 41px;
    max-width: 100%;
    padding-bottom: 14px;
    margin-top: 0px;
    height: 606px;
}

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .product__content {
        height: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

.product__Modal__side .product__content {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0;
}
    .rtl-slider-flex .rtl-slider-nav {
        height: calc(100vh - 91px);
        overflow: hidden;
    }
    .product__content.p__two.show ,
.product__content.p__three.show
{
    margin: 0;
    position: fixed;
    height: 100vh;
    overflow: auto;
    padding-bottom: 40px;
}
.rtl-slider .rtl-slider-slide {
    max-height: 530px;
}

.rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
    max-height: 530px;
}

.product__Modal .rtl-slider-flex .rtl-slider-nav .slick-list.draggable {
    max-height: 560px;
}
.rtl-slider-flex .rtl-slider-nav{
    max-height: 530px;
}
.product__content.p__one.show {height: auto;}

.vaelg__btn a {
    height: 100px;
}
.left-space{
    margin-left: 0px;
}
.shop-rugs__blk h2 {
    font-size: 20px;
}

a.shoppingbtn {
    left: 20px;
    bottom: 20px;
}


.alle-sofa-title {
    padding: 40px 0;
}

.alle-sofa-title h1 {
    font-size: 26px;
    letter-spacing: 7px;
}

.alle-sofa-text h2 {
    font-size: 24px;
}

.alle-sofa-text p {
    font-size: 16px;
}

.alle-sofa-img {
    height: 400px;
    margin-bottom: 50px;
}

.alle-sofa-img button {
    bottom: 30px;
    font-size: 24px;
    width: 80%;
    font-size: 20px;
    border-width: 2px;
}

.alle-sofa__blk h2 {
    font-size: 26px;
}
.alle-sofa__blk p{
    letter-spacing: 2px;
    font-size: 14px;
}
.alle-sofa__blk {margin-bottom: 50px;}

.sofa__btn {
    gap: 28px;
    min-width: 1020px;
    padding-bottom: 50px;
    padding-top: 15px;
}

.sofa__btn button {
    font-size: 12px;
}

.sofa__btn__wrp {
    overflow: auto;
}
.mix_gellary .alle-sofa__blk {
    margin-top: 0;
}

.sofModal-item > i {
    height: 180px !important;
}
.product__Modal__btn a {
    max-width: 100%;
    left: 0;
    box-shadow: 0px -3px 6px 0px #0001;
}
.product__Modal__side.show {
    position: sticky;
    right: 41px;
    max-width: 100%;
    padding-bottom: 14px;
    margin-top: 0px;
    height: 606px;
}
.sofModal-item > i{
    height: 120px !important;
}
.sofModal-item .sofasat__info{
    min-width: 232px;
    margin-left: 6px;
}

.sofModal-item .sofasat__info i {
    height: 120px;
}

.sofModal-item .sofasat__info .sofasat__info__content {
    padding: 10px;
}
}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .product__content {
        height: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0 20px;
    }

.product__content.p__one.show {
    height: auto;
}
    .rtl-slider-flex .rtl-slider-nav {
        overflow: hidden;
        height: 120px;
    }

.rtl-slider-flex .rtl-slider-nav {
    width: 100%;
}
    .product-info {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        position: relative;
    }
    
    .product__title h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .product__title .flex ul img {
        max-width: 14px;
    }
    
    .product__price h1 {
        font-size: 30px;
    }
    
    .sofasat__title h3 {
        font-size: 20px;
    }
    
    .vaelg__btn a {
        height: 60px;
        font-size: 15px;
    }
    
    .sofasat__item>i, .sofasat__item>a {
        height: 170px;
    }
    
    .vaelg__btn {
        margin-top: 20px;
    }
    
    .details__content p {
        font-size: 14px;
    }
    
    .details__content ul li {
        font-size: 14px;
        display: flex;
        align-items: baseline;
        margin-bottom: 6px;
    }
    .accordion-flush button {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .feedback__content h4 {
        font-size: 15px;
    }
    
    .feedback__content a {
        font-size: 14px;
    }
    
    .details__content h3 {
        font-size: 20px;
    }
    
    .details__content ul li i {
        width: 4px;
        height: 4px;
    }
    
    .buy__btn {
        height: 50px;
    }
    
    .buy__btn__wrp {
        gap: 10px;
    }
    
    .set_quantity {
        margin-bottom: 20px;
        justify-content: center;
    }
    
    .heart__btn {
        width: 50px;
        height: 50px;
    }
    .product__content.p__two.show ,
.product__content.p__three.show
{
    margin: 0;
    position: fixed;
    height: 100vh;
    overflow: auto;
    padding: 30px;
    padding-bottom: 40px;
    width: 100%;
}
.rtl-slider-flex {
    flex-direction: column-reverse;
    padding: 0;
}

.rtl-slider .rtl-slider-slide {
    height: 270px;
    width: 100%;
}

.rtl-slider-flex .rtl-slider {
    width: 100%;
}
.rtl-slider-flex .thumb-prev {
    rotate: 90deg;
    bottom: 51px;
    right: auto;
    left: 0;
    width: 75px;
}

.rtl-slider-flex .rtl-slider-nav .rtl-slider-slide {
    height: 100px;
    margin: 0;
}

.thumb-next {
    right: 0;
    rotate: 90deg;
    bottom: 50px !important;
    top: auto;
    left: auto !important;
    width: 75px !important;
}
.product__Modal__content{
    max-height: max-content;
}
.product__slider__top h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.side-space {
    padding: 0 20px;
}
.left-space{
    margin-left: 0px;
}
.shop-rugs__blk h2 {
    font-size: 20px;
}

a.shoppingbtn {
    left: 20px;
    bottom: 20px;
}
.shop-rugs__blk {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 30px;
}
.shop-rugs-side{
    padding: 0 20px;
}




.alle-sofa-title {
    padding: 28px 0;
}

.alle-sofa-title h1 {
    font-size: 16px;
    letter-spacing: 4px;
}

.alle-sofa-text h2 {
    font-size: 20px;
}

.alle-sofa-text p {
    font-size: 14px;
    letter-spacing: 2px;
}

.alle-sofa-img {
    height: 340px;
    margin-bottom: 50px;
}

.alle-sofa-img button {
    bottom: 24px;
    font-size: 24px;
    width: 80%;
    font-size: 16px;
    border-width: 2px;
}

.alle-sofa__blk h2 {
    font-size: 22px;
}
.alle-sofa__blk p{
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 10px;
}
.alle-sofa__blk {margin-bottom: 50px;}
.alle-sofa__blk span {
    margin-bottom: 7px;
    font-size: 16px;
}

.alle-sofa__blk i {
    height: 300px;
}
.sofa__btn {
    gap: 28px;
    min-width: 1020px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.sofa__btn button {
    font-size: 12px;
}

.sofa__btn__wrp {
    overflow: auto;
}
.mix_gellary .alle-sofa__blk {
    margin-top: 0;
}
.sofa__btn button i {
    height: 60px;
    margin-bottom: 20px;
}

.mix_gellary {
    padding-top: 30px;
}
button.chat-btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    bottom: 30px;
    right: 30px;
}


.sofModal-item > i {
    height: 180px !important;
}
.product__Modal__btn a {
    max-width: 100%;
    left: 0;
    box-shadow: 0px -3px 6px 0px #0001;
}
.product__Modal__side.show {
    position: sticky;
    right: 41px;
    max-width: 100%;
    padding-bottom: 14px;
    margin-top: 0px;
    height: 606px;
}
.sofModal-item > i{
    height: 155px !important;
}
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.shop-rugs-side{
    padding: 0 70px;

}
.sofModal-item > i {
    height: 125px !important;
}
}